{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/liveview.js') }}"></script>
{% endblock %}
{% block page %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
        <p class="text-muted bg-info well-sm">Liveview for new images. If an image is posted to '/api/live/', a face
            detection and recognition is performed and the results shown here. Previous classifications are available at
            the <a href={{ url_for('recent_classifications') }}>recent classifications</a> tab.
        </p>
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-8" id="content">
        <div id=classifications>
        </div>
    </div>
{% endblock %}