.margin_top {
    margin-top: 20px;
}

.liveresult {
    background: #5d6368;
    border-radius: 25px
}

img.recent {
    display: inline-block;
    max-width: 100%;
    width: auto;
    height: auto;
}

img.galleryview {
    display: inline-block;
    max-width: 150px;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 3px;
}

img.galleryview.selected {
    padding: 0px;
    border: solid 3px royalblue;
}

li.recent {
    font-size: large;
}