{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block page %}{{ title }}{% endblock %}
{% block content %}
    <div class="col-md-2">
        <select id="gallery_select" class="form-control" size="{{ galleries|length }}">
            {% for gallery in galleries %}
                <option value="{{ gallery.id }}">{{ gallery.name }}</option>
            {% endfor %}
        </select>
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="New Gallery" id="new_gallery_name">
            <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" id="create_button">Create</button>
      </span>
        </div>
    </div>
    <div class="col-md-10" id="images">
        <div id="control_div" class="hidden form-inline">

            <select id="action_select" class="form-control">
                <option/>
                {% for gallery in galleries %}
                    <option value="{{ gallery.id }}">{{ gallery.name }}</option>
                {% endfor %}
            </select>
            <button id="move_button" class="btn btn-md">Move to selected gallery</button>
            <button id="delete_button" class="btn btn-md btn-danger">Delete Gallery</button>
            <span class="text-info">(Images won't get deleted, but moved to 'new' gallery!)</span>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/galleries.js') }}"></script>
{% endblock %}
