{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block page %}{{ title }}{% endblock %}
{% block content %}
    <div class="col-md-2 container">
        <select id="gallery_select" class="form-control" size="{{ galleries|length }}">
            {% for gallery in galleries %}
                <option value="{{ gallery.id }}">{{ gallery.name }}</option>
            {% endfor %}
        </select>
        <
    </div>
    <div class="col-md-10 container" id="images">
        <div id="control_div" class="hidden form-inline">
            <select id="action_select" class="form-control">
                <option/>
                {% for gallery in galleries %}
                    <option value="{{ gallery.id }}">{{ gallery.name }}</option>
                {% endfor %}
            </select>
            <button id="move_button" class="btn btn-md">Move to selected gallery</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/galleries.js') }}"></script>
{% endblock %}
