{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block page %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-12 table_container">
            <table id="model_table" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Classifier</th>
                    <th>Cross-Val-Score</th>
                    <th>Classes/Persons</th>
                    <th>Avg. images</th>
                    <th>Total images*</th>
                    <th>Images w/o face</th>
                    <th>Current model</th>
                    <th>Training time</th>
                    <th>Date</th>
                    <th>Change Model</th>
                </tr>
                </thead>
                <tbody>
                {% for model in models %}
                    <tr>
                        <td>{{ model.id }}</td>
                        <td>{{ model.name }}</td>
                        <td>{{ model.classifier_type }}</td>
                        <td>{{ model.cv_score }}</td>
                        <td>{{ model.num_classes }}</td>
                        <td>{{ model.avg_base_img }}</td>
                        <td>{{ model.total_images }}</td>
                        <td>{{ model.total_no_face }}</td>
                        <td>{{ model.loaded }}</td>
                        <td>{{ model.training_time }}</td>
                        <td>{{ model.date }}</td>
                        <td>
                            <button id="{{ model.id }}" data-id="{{ model.id }}"
                                    class="btn btn-md btn-info model-change">Use Model
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/models.js') }}"></script>
{% endblock %}