{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block page %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
        {% for row in classifications %}
            <div class="row margin_top well">
                <div class="col-md-4 container">
                    <img class="img-rounded recent" src={{ row.image.url }}>
                </div>
                <div class="col-md-4 container">
                    <ul class="list-group">
                        {% for result in row.results %}
                            <li class="list-group-item">{{ result.gallery.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}